/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*************COLORS*******************/
/*    0072BB   FF4C3B FFD034 000000  C6C8CA FFFFFF

        462066  FFB85F  FF7A5A  00AAA0  8ED2C9  FCF4D9

*/
/**********CUSTOM HEADINGS FOR POOERTFOLIO SERVICES AND ABOUT SECTION******/
 @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');
  h3{
    font-family: 'Roboto mono', serif;
    /*"Courier New", Courier, monospace;*/
    font-size: 4vw;
    text-align: center;
    text-decoration: overline underline  solid;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 0px;
}

body, div, .row{
    margin:0;
}
li {
    font-family:Impact, Charcoal, sans-serif;
    opacity:1;
    color: red;
}
p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    /*font-family: "apercu", sans-serif;*/
}
button {
    font-size: 18px;
     border:0;
    border-radius: 15px;
    padding:10px 15px;
    transition:ease-in-out;
    transition:0.4s;
}
button:active {
    transform: scale(0.9,0.9);
}
h4 {
    font-size: 20px;
    text-align: center;
}

/**********CUSTOM HEADINGS FOR PORTFOLIO SERVICES AND ABOUT SECTION******/
/******************NAV BAR SECTION ****************/

ul {
    list-style-type: none;
    margin: 0px;
    padding: 15px 10px;
    text-align: right;
    }

li {
    display:inline;
}
li a{
    text-decoration: none;
    text-align: center;
    color:#912cee;
    border:solid 3px #912cee;
    border-radius: 40px 0px;
}

#logo {
    padding-left: 5%; 
    width:10%;
    float:left;
 }
#logo img {
    height:60px;
}
#navBar {
    display:block;
    padding-right: 5%;
}
#navBar li a {
    padding:15px 30px;
    transition:ease-in-out;
    transition:0.4s;
}
#navBar a:hover {
    background:#912cee;
    color: #fff;/*#ffc800;*/
}

.navigation {
    width:100%;
    padding-top:20px;
    height:60px;
    background:#fff; /*#e5f6f5*/
    padding-bottom:15px;
    /*position:relative;*/
}
/*#navCover{
    position:absolute;
    top:0;
    left:0;
    background: #00a99d;
    opacity:0.1;
    width:100%;
    height:100%;*/
}

.navBars{
    float:right;
    width:80%;
 }

.navigation:after {
    clear:both;
}

#menu {
    display:none;
    float:right;

}


/******************END OF NAV BAR SECTION ****************/

/****************** SPLASH IMAGE *************************/
#splashRow {
    background:url("../img/AVIC3.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    height:70vh;
    color:#fff;
    margin:0;
}
#splashRow {
    position: relative;
    width:100%;
}
#splashRow img {
    width:100%;
    height:100%;
}
#splashRow .overlay {
    position: absolute;
    top:0%;
    left:50%;
    height:100%;
    width:50%;
    /*background:blue;*/
    padding-top:15%;
}

.overlay h2 {
    color: #f0f0f0;
    font-size:35px;
    text-align: center;
    text-shadow: 2px 2px #000; /*#0072BB;*/
    /*padding:30px 5px;*/
}

.overlay h4 {
    color: #f0f0f0;
    font-size:2vw;
    text-shadow: 1px 1px #000;/*#0072BB;*/
    padding:0 20px 0 20px;
}
/******************END OF SPLASH IMAGE ************************

/****************** ABOUT ME SECTION **************************/
#about {
    display:block;
    overflow:auto;
    padding-bottom: 30px;
}
.row {
    padding-bottom:20px;
    margin:0;
}

.collumn2 { 
    width:50%;
    float:left;
 }

.collumn2:after {
    clear: both;
 }


.collumnContainer {
    max-width: 90%; 
    text-align: left;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 100px;
}


    /**************PROGRESS BAR*********************/
#about-section-1 p {
    margin:10px;
}    
    .myProgress {
        width: 100%;
        /*height:40px;*/
        background-color: #ddd;
        border-radius: 10px 10px;
    }
    .skill-length {
        background-color: #DA70D6;
        border-radius: 10px;
       	height:30px;
    }
    #myBarJavascript {
        width: 65%;
    }
    #myBarCss {
        width: 75%;
    }
    #myBarHtml {
        width: 85%;
    }
    #myBarDesign {
        width: 60%;
    }
    #myBarVideo {
        width: 50%;
    }


    /****************** END OF PROGRESS BAR *************************/

/****************** END OF ABOUT ME SECTION *********************/

/****************** SERVICES SECTION *********************/
#services {
    color:#f0ffff;
    display:block;
    overflow:auto;
    background-color:#912CEE;/* #00a99d;*/
    padding-bottom: 100px;
    /*padding-top: 10px;*/
    margin-bottom: -7.5%;
}

.collumn2 {
    float:left;
    width:50%;
}
#services .collumn2 p {
    margin:0;
    text-align: left;
    /*margin-bottom: 30px;*/
}
#call-to-action p {
    margin:0;
    text-align: center;

}
#call-to-action{
    padding-top:50px;
    width:80%;
    margin:0 auto;
    color:#000;
    background-color: #fff;
    padding-bottom: 50px;
    border:solid 1px #ccc;
    border-radius: 20px;
    text-align: center;
}

#call-to-action button {
    margin-top: 20px;
    border:solid 4px #912CEE;
    background:#912CEE;
    color: #fff;
}
#call-to-action button:hover {
    color: #912CEE;
    border:solid 4px #912CEE;
    background:#fff;
}
/****************** END OF SERVICES SECTION *********************/
/****************** REFERENCES SECTION *********************/

#references {
    display:block;
    overflow:auto;
    padding-bottom:30px;
}
#references h3 {
    padding-bottom: 20px;
    padding-top:30px;
}
#references .row {
    padding-left: 20px;
    padding-right: 20px;
}
#references .column3 {
    float:left;
    width:33.333333%;
}
.collumnContainer {
    position:relative;
    max-width: 100%; 
    text-align: left;
    display: block;
    padding:40px 10px;
}
.collumnContainer img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*.over {
    position:absolute;
    top:5%;
    left:0%;
    background:#00a99d;
    opacity:0.5;
    width:100%;
    height:90%;
    z-index: 10;
}*/
.text-over {
    position:absolute;
    top:10%;
    left:0%;
    background:#222;/*#00a99d;*/
    opacity:0;
    width:100%;
    height:80%;
    text-align: center;
    transition:ease-in-out;
    transition:0.5s;
}
.text-over h4 {
    color:#fff;
    text-align: center;
    padding-top:10%;
}
.text-over button {
    border:solid 4px #912CEE;
    background:none;
    color: #fff;
}
.text-over i {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.text-over .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.text-over button:hover {
    border:solid 4px #912CEE;
    background:#912CEE;
}
.text-over:hover {
    opacity: 1;
}
    
/*.over:hover {
    opacity:0.1;
}*/
/******************END OF REFERENCES SECTION *********************/
/******************CONTACT ME ***********************/
#contacts {
    padding-top: 20px;
    display:block;
    overflow:auto;
}

#contacts .collumnContainer {
	width:40%;
	margin-left:auto;
	margin-right: auto;
	text-align: center;
}
/******************END OF CONTACT ME ***********************/

/******************FOOTER ***********************/
#footer {
	background-color: #222;
}
#footer .footer-container {
    width:100%;
    padding:10px 5px;
    text-align: center;

}
#footer img {
    width:50px;
    padding:5px 10px;
}
#go-top {
        position:fixed;
        background-color: #da70d6;
        bottom:10px;
        right: 10px;
        border-radius: 25px;
        height:50px;
        width:50px;
}
#go-top-container {
        position:fixed;
        /*background-color: #da70d6;*/
        bottom:10px;
        right: 12px;
        /*border-radius: 20px;*/
        height:30px;
        width:30px;
}


#go-top i {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
}
#go-top .top {
    transform: rotate( -135deg);
    -webkit-transform: rotate(-135deg);
}

/******************END OF FOOTER ***********************/



/***************FOR SMALL SCREENS*****************/
@media only screen and (max-width: 900px) {
 
   /************* SMALL SCREENS NAVIGATION SECTION*************/
    li a{
    border:none;
    border-radius: 0;
    }
    #menu-bar div {
            width: 35px;
            height: 5px;
            background-color: black;
            margin: 6px 0;
        }
    #menu-bar {
        /*padding-top:10px;*/
        border-radius: 1px;
        padding:5px 20px;
        float:right;
        /*transition: 0.5s;*/
        /*transition-timing-function: ease-in-out;*/
    }
    #menu-bar:after {
        clear: both;
    }
    #navBar {
        position: fixed;
        top:20px;
        right:20px;
        display:none;
        background-color:#f3f3f3;
        border-radius:10px;
        z-index: 10;
        /*width: 100px;*/
    }
    #navBar li {
    display:block;
    margin:20px 0;
    text-align: left;
    }
    #navBar a:hover {
        color:#f3f3f3;
        background-color: #912cee;
        border-radius:10px;

    }

   /*************END OF SMALL SCREENS NAVIGATION SECTION*************/
}

@media only screen and (max-width: 700px) {
    h3{
    font-size: 7vw;
    }

   /*************SMALL SCREENS NAVIGATION SECTION*************/

 
    /*************SMALL SCREENS SPLASH IMAGE SECTION*************/
    .container {
        /*min-height: 200px;*/
    }
    #splashRow .overlay {
        top:30%;
        /*padding-top: 50%;*/
    }
    .overlay h2 {
        font-size:1.5em;
        text-shadow: none;
        /*z-index: 21;*/
    }
    .overlay h4 {
        font-size:1em;
        text-shadow: none;
        /*z-index: 2px;*/
    }

    /************* END OF SMALL SCREENS SPLASH IMAGE SECTION*************/
    /************* SMALL SCREENS ABOUT ME SECTION ***********************/
    #about {
        color:#fff;
    	display:block;
    	overflow:auto;
    	padding-bottom:0px;
        text-align: center;
        background: #912CEE;
	}
    .rowCollumn {
        /*background-color: red;*/
        display:block;
        overflow:auto;
        padding-bottom:30px;
    }
    .collumn2 {
        width:100%;
    }
    .mobile-hide {
        display:none;

    }
    #about-section-1 {
        color:#000;
        padding-bottom: 20px;
        background-color: #fff;
    }
    /************* END OF SMALL SCREENS ABOUT ME SECTION ***********************/
    /**************SMALL SCREEN SERVICES SECTION **************************/
    #services {
        margin-bottom: -15%;
    }
    #call-to-action {
        padding-left:10px;
        padding-right:10px;
    }
    /************* SMALL SCREENS REFERENCE SECTION ***********************/
    .collumnContainer {
        padding:10px 10px;
    }
    #references .column3 {
      width:100%;
    }
    .text-over {
        top:0%;
        left:0%;
        width:100%;
        height:100%;
    }
    .text-over h4 {
        padding-top:20%;
    }
    .text-over button {
        margin-left: 20%;
        margin-right: 20%;
}

    /************* END OF SMALL SCREENS REFERENCE SECTION ***********************/
    /************SMALL SCREEN CONTACTS SECTION***********************/
    #contacts .collumnContainer {
        width:100%;
        margin: auto;
    }

    /************SMALL SCREEN CONTACTS SECTION***********************/
    #footer .footer-container  {
    width:100%;
    margin:auto;
    /*background-color: red;*/
}
.footer-container {
    padding-left:auto;
    padding-right: auto;

}
#footer img {
    padding:5px 10px;
}


@media only screen and (max-width: 532px) {
    .overlay h4 {
        display:none;
    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

/*@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {*/
    /* Style adjustments for high resolution devices */
/*}*/

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

/*@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;*/ /* Black prints faster */
/*        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }*/

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

/*    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }*/

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

/*    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}*/
