.primary-bg-color-custom {
  background-color: #fff4e6;
}

.primary-bg-color-dark {
  background-color: #AF3302;
  color: #fff;
}

.primary-color-custom {
  color: #d9480f !important;
}

.py-6 {
  padding-top: 6em;
  padding-bottom: 6em;
}

.link-primary {
    text-decoration: underline !important;
}

.btn-primary-custom {
  background-color: #AF3302;
  color: #fff;
}

.btn-primary-custom:hover {
  background-color: #d9480f;
  color: #fff;
}

.btn-outline-primary-custom {
  border: 1px solid #872600;
  color: #872600;
}

.btn-outline-primary-custom:hover {
  border: 1px solid #872600;
  color: #111;
  background-color: #ffc078;
}

button.navbar-toggler {
  color: #fff;
}

button.navbar-toggler:focus {
  border:1px white solid;
  outline:1px transparent solid;
}

.nav-item {
  border-radius: 5px;
}

.nav-item:hover {
  background-color: #2CA16F;
}

.navbar-brand, .nav-link {
  color: #fff;
}
.navbar-brand:hover, .nav-link:hover {
  color: #fff;
}

p {
  font-size: 1.25rem;
}
.text-big {
  font-size: 1.5rem;
}

.shadow-custom {
  box-shadow: -20px -20px #ffc078; /* #2CA16F */
  border: 1px solid #C6CACC; /*#546977; */ /* #2CA16F */
}